<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="POS_system.Properties.Settings.TEMPOConnectionString"
            connectionString="Data Source=LAB5-PC5\LAB3PC25;Initial Catalog=TEMPO;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="POS_system.Properties.Settings.StockDBConnectionString"
            connectionString="Data Source=DESKTOP-NIDDBRN\SQLEXPRESS;Initial Catalog=StockDB;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="POS_system.Properties.Settings.StockDBConnectionString1"
            connectionString="Data Source=ANZ;Initial Catalog=StockDB;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="POS_system.Properties.Settings.StockDBConnectionString2"
            connectionString="Data Source=ANZ;Initial Catalog=StockDB;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="POS_system.Properties.Settings.StockDBConnectionString3"
            connectionString="Data Source=LAB4-PC42\LAB2PC42;Initial Catalog=StockDB;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>